:root {
    --ff-primary: 'Fraunces', serif;
    --ff-secondary: 'Montserrat', sans-serif;

    --fw-regular: 500;
    --fw-bold: 700;

    /* 14px */
    --fs-default: 0.875rem; 

    --darkCyan: hsl(158, 36%, 37%);
    --cream: hsl(30, 38%, 92%);
    --veryDarkBlue: hsl(212, 21%, 14%);
    --darkGrayishBlue:  hsl(228, 12%, 48%);
    --white: hsl(0, 0%, 100%);
}

* {
    margin: 0;
    padding: 0;
}

html,
body {
    height: 100%;
    width: 100%;
}

h1,h2,h3 {
    font-weight: var(--fw-bold);
    color: black;
    margin-bottom: 10px;
}

body {
    font-size: var(--fs-default);
    background-color: var(--cream);
    position: relative;
    font-weight: var(--fw-regular);
    color: var(--darkGrayishBlue);
}

footer {
    position: fixed;
    bottom: 0;
    width: 100%;
}

.text-uppercase { text-transform: uppercase; }
.text-striked { text-decoration: line-through; }
.text-center { text-align: center; }
.font-bold { font-weight: var(--fw-bold); }

main {
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.product-card {
    max-width: 280px;
    height: auto;
    border-radius: 10px;
    overflow: hidden;
}

.product-card button {
    background-color: var(--darkCyan);
    width: 100%;
    color: var(--white);
    border: none;
    outline: none;
    padding: 14px 20px;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.product-card button > span {
    width: 14px;
    height: 14px;
    display: inline-block;
}

.product-card button > span img {
    height: 100%;
    width: 100%;
}

.product-card--image {
    height: 180px;
}

.product-card--image > div {
    background-image: url("./images/image-product-mobile.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    width: 100%;
    height: 100%;
}

.product-card--details {
    background-color: var(--white);
    padding: 20px;
    margin-bottom: 8px;
}

.product-card--details-type {
    letter-spacing: 4px;
}

.product-card--details-caption {
    line-height: 20px;
    margin-bottom: 15px;
}

.product-card--details-price {
    display: flex;
    align-items: center;
    gap: 10px;
    margin-bottom: 15px;
}

.product-card--details-price h2 {
    color: var(--darkCyan);
    margin-bottom: 0;
}
